.sidebar {
  width: 30%;
  float: right;
  background-color: blue;
  text-decoration: underline;
  font-size: 40px;
  margin: 12px;
  border: 8px solid rgb(34, 4, 68);
  padding: 4px;
  background-color: rgb(199, 68, 68);
  box-sizing: border-box;
}
.pop {
  text-decoration: underline;
}
img {
  float: left;
  width: 50%;
  margin: 12px;
  border: 8px solid rgb(34, 4, 68);
  padding: 4px;
  background-color: rgb(199, 68, 68);
  box-sizing: border-box;
}